@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Afacad Flux", sans-serif;
}

.social-media-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg,#ffb517, #f519db);
    color: #fff;
    height: 9vh;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.links>*{
    /* border-left: 1px solid #fff; */
    margin:auto;
    padding: 1em;
    height: 100%;
}
/* .links>*:last-child{
    border-right: 1px solid #fff;
} */
.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.details>*{
    margin: auto 20px;
}

.link-button{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 0.4em 1em;
    border-radius: 1.8em;
}

.link-button:hover{
    background: #fff;
    color: #000;
    transition: 0.2s ease-out;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}
.icon>img{
    margin-right: 0.2em;
}

.links ul{
    display: flex;
    list-style-type: none;
    height: 100%;
}

.links ul li{
    /* margin: 0 1em; */
    padding: 0.5em 1em;
    height: 100%;
    /* background: #000; */
}

.links ul li a{
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
}

a.buy-button{
    background: #f7b955;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background: rgba(0,0,0,0.4); 
    color: white;
    position:relative;
}
/* make this url image as background of main but dim only the background using main:before or main:after..  */
main::before{
    content: '';
    background: url('https://freerangestock.com/sample/126752/two-business-people-talking-while-on-a-walk.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
}

.slide{
    max-width: 60vw;
    position: relative;
}

.slide p.quote{
    font-family: 'Alumni Sans', sans-serif;
    font-size:2em;
    margin-bottom: 0.4em;
    letter-spacing: 0.1em;
}
.slide h1{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3em;
    letter-spacing: 0.2em;
    margin-bottom: 0.3em;
}
.slide p{
    font-size: 1.2em;
    margin-bottom: 0.8em;
}
.slide a{
    margin-right: 1em;
}
.imp-button{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 0.6em 1em;
    border-radius: 1.8em;
    background: linear-gradient(90deg, #ffb517, #f519db);
    border: none !important;
}
.imp-button:hover{
    background: linear-gradient(90deg, #ffb517, #f519db);
    /* color: #000; */
    transition: 0.2s ease-out;
    color: #fff;
}

.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: -1em;
    bottom: -20px;
    /* right: -30px; */
    background: linear-gradient(180deg, #ffb517, #f519db);
    width: 3px;
    border-radius: 2px;
}
.bubbles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
    height: 14vh;
}
.bubble-1,.bubble-2,.bubble-3{
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.4px solid white;
}
.focus{
    background: linear-gradient(45deg, #ffb517, #f519db);
    border: none;
}

.hidden-slide{
    display: none;
}

.features{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #f7b955, #f519db);
    color: #fff;
}
.feature{
    max-width: 300px;
}
.title{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1em;
}

.title>i{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.title>p{
    font-size: 1.5em;
}

.about-us{
    height: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.about-us::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('https://img.freepik.com/premium-vector/dotted-world-map-white-background_132079-967.jpg?w=1060') center center/cover;
    z-index: -1;
    opacity: 20%;
}
.about-us img{
    transform: rotateY(180deg);
    width: 400px;
}
.about{
    width: 50vw;
}
.about h2{
    font-family: 'Alumni Sans', sans-serif;;
    font-size: 3em;
    position: relative;
}
hr{
    width: 60px;
    height: 3px;
    border: none;
    border-radius: 2px;
    background: linear-gradient(90deg, #f519db, #f7b955);
    margin-bottom: 1em;
}

.sub-heading{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.3em;
}

.description{
    color: #555;
    font-size: large;
    margin-bottom: 1.4em;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    background-color: rgba(0,0,0,0.1);
}
.services::before{
    content: '';
    background: url('https://img.freepik.com/premium-vector/dotted-world-map-white-background_132079-967.jpg?w=1060');
    /* background-size: cover; */
    background-repeat: repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 20%;
}

.container{
    max-width: 80vw;
}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #000; */
}
.image{
    margin-right: 1em;
    position: relative;
}
.content{
    position: absolute;
    right: 0;
    bottom: -15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    padding-right:20px ;
    box-shadow: 2px 2px 10px rgb(215, 215, 215) ;
}
.services img{
    width: 300px;
}
.services i{
    background: linear-gradient(90deg, #f519db, #f7b955);
    font-size: 25px;
    color: #fff;
    border-radius: 30px;
    padding: 0.4em;
    margin-right: 10px;
}
